[Unit]
Description=Nagios Exporter
Documentation=https://github.com/linode-obs/nagios_exporter
Wants=network-online.target nagios.service
After=network-online.target nagios.service

[Service]
EnvironmentFile=-/etc/default/prometheus-nagios-exporter
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/prometheus-nagios-exporter $ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
